@import 'config';

$size-1300: 1300px;
$size-850: 850px;
$size-600: 600px;

$medium-bold: 500;

.main {
  position: relative;
}

.header-main {
  width: 100%;
  padding: 5px 20px;
  background-color: #211c39;
  border-bottom: 2px solid $green-color;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      transition: 0.2s;
      color: white;
      cursor: pointer;
    }

    a:hover {
      text-decoration: none;
      color: $green-color;
    }

    .header-link {
      &--logo {
        font-size: $link-fontsize;
        letter-spacing: 3px;
        font-weight: $medium-bold;
        color: $green-color;
      }
    }

    .middle-links a {
      margin-right: 10px;
    }
  }
}

.login-from-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);

  .login-form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    // height: 300px;
    padding: 20px 5px;
    flex-direction: column;
    background-color: #292644;
    border: 1px solid rgb(84 126 255 / 50%);
    box-shadow: 0 0 10px 2px #2e2e2e;
    border-radius: 4px;

    @media screen and (max-width: $lg) {
      width: 400px;
    }

    @media screen and (max-width: $md) {
      width: 300px;
    }

    svg {
      width: 16px;
      height: 16px;
      position: absolute;
      right: 0;
      top: 0;
      margin: 10px;
      cursor: pointer;

      line {
        transition: 0.3s;
        stroke: rgb(221, 227, 255);
      }

      &:hover {
        line {
          stroke: rgb(192, 255, 151);
        }
      }
    }

    // &--height {
    //   // height: 350px;
    // }

    &__wrapper {
      width: 100%;
      max-height: 400px;
      overflow: auto;
    }

    &__form {
      width: 100%;
      padding: 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__title {
      font-size: 1.5rem;
      font-weight: $medium-bold;
      color: #ceff84;

      @media screen and (max-width: $lg) {
        font-size: 1.3rem;
      }

      @media screen and (max-width: $md) {
        font-size: 1rem;
      }
    }
  }
}

.lf-inputs {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__wrapper {
    width: 100%;
    margin-bottom: 15px;
  }

  &__input {
    width: 100%;
    height: 50px;
    background: #0000001a;
    border-radius: 2px;
    border: 1px solid rgb(161 166 255 / 25%);
    text-decoration: none;
    outline: none;
    color: #ceff84;
    padding: 0 10px;
    font-size: 0.8rem;
    letter-spacing: 1px;

    &:active,
    &:focus {
      border: 1px solid rgba(205, 255, 161, 0.4);
    }
  }

  &__button {
    max-width: 150px;
    padding: 10px 20px;
    height: 40px;
    font-size: 0.8rem;
    font-weight: $medium-bold;
    background: rgb(160, 230, 135);
    color: #347206;
    border: 1px solid #daffa3;
    box-shadow: 0px 4px 2px 0px #00000033;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 2px;

    @media screen and (max-width: $lg) {
      font-size: 0.9rem;
    }

    @media screen and (max-width: $md) {
      font-size: 0.7rem;
    }

    &:hover {
      transform: translateY(-5px);
      background: #9bfe77;
    }
  }
}

.block-title {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: $medium-bold;
  background-color: #211c39;

  &--title {
    margin: 0;
    padding: 0;
    font-size: $title-fontsize - 0.5rem;
    text-transform: uppercase;
    // @media screen and (max-width: $lg) {
    //   font-size: $title-fontsize - 0.6rem;
    // }
  }

  &--line {
    width: 200px;
    height: 4px;
    border: 2px solid $green-color;
    background-color: $green-color;
  }
}


.block-1 {
  width: 100%;
  height: 100vh;
  // min-width: 550px;
  // max-height: 560px;
  position: relative;
  // background-color: $block-bg-color;
  // background-color: #37035c;
  background-color: #191236;
  // background-color: #1a033b;
  // background-color: #73ca70;
  // background-blend-mode: difference;
  font-weight: $medium-bold;

  &--bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('@/assets/images/bg2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: color-dodge;
    background-size: 100% 100%;
    transform: scale(-1, 1);
    z-index: 0;
  }

  &--images {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;

    .img1 {
      z-index: 10;

      img {
        width: 100%;
        height: 100%;
      }

      @media screen and (max-width: $md) {
        display: none;
      }
    }

    // .img2 {
    //   width: 50%;
    //   height: 100%;
    //   img {
    //     max-width: 100%;
    //   }
    // }
  }

  &--text {
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: 3vw;
    margin-left: 10%;
    z-index: 100;

    @media screen and (max-width: $lg) {
      font-size: 4vw;
    }

    @media screen and (max-width: $md) {
      font-size: 6vw;
    }

    .text-main-block {
      display: flex;
      flex-direction: column;
      // align-items: center;

      P {
        margin: 0;
        padding: 0;
        // margin-bottom: 20px;
      }

    }

    .logo-text {
      &--3tonn {
        letter-spacing: 3px;
        font-weight: $medium-bold;
        text-transform: capitalize;
        color: #83ff7f;
        text-shadow: 0 0 6px rgb(23 88 0);
      }
    }

    .logo-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 50px;
      font-size: 1rem;
      font-weight: $medium-bold;
      outline: none;
      background: #a5ff85;
      color: #004b4f;
      border: 1px solid #1f1f1f;
      box-shadow: 0 0 6px 2px #27272747;
      border-radius: 2px;
      text-transform: uppercase;
      margin-top: 3%;
      letter-spacing: 1px;
      transition: 0.3s;
      cursor: pointer;

      // @media screen and (max-width: $lg) {
      //   font-size: 0.9rem;
      //   width: 175px;
      //   height: 50px;
      // }
      // @media screen and (max-width: $md) {
      //   width: 150px;
      //   height: 40px;
      //   font-size: 0.7rem;
      // }
      &:hover {
        color: white;
        transform: scale(0.95);
        background: #383c62;
        border: 1px solid #ffffff;
      }
    }
  }
}

.block-2 {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 20px;
  // max-height: 500px;
  display: flex;
  flex-wrap: wrap;
  // background-color: $block-bg-color;
  // background-color: #db663a;
  justify-content: space-around;
  position: relative;

  &--bg {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 80%;
    height: 60%;
    background-image: url('@/assets/images/card-bg2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(172, 212, 112);
    box-shadow: 0 0 6px 3px #232323;
    border-radius: 2px;
  }

  // overflow: auto;
  &--card {
    width: 20%;
    // height: 500px;
    display: flex;
    align-items: center;
    position: relative;

    // background-color: #29b582;
    // background-color: #f5d38e;

    @media screen and (max-width: $xlg) {
      width: 20%;
      height: 250px;
      margin-bottom: 25px;
    }

    @media screen and (max-width: $lg) {
      width: 30%;
      height: 250px;
      margin-bottom: 100px;
    }

    @media screen and (max-width: $md) {
      width: 40%;
      height: 250px;
      margin-bottom: 100px;
    }

    img {
      transition: all 0.4s ease-in-out;
      // width: 100%;
      margin: 0 auto;
      // height: 100%;
      width: 100%;
      z-index: 10;
      // @media screen and (max-width: $xlg) {
      //   height: 100%;
      //   width: 100%;
      // }
      // @media screen and (max-width: $lg) {
      //   height: 100%;
      // }
      // @media screen and (max-width: $md) {
      //   height: 100%;
      // }
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  &--image-text {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    z-index: 100;

    // height: 500px;
    p {
      // font-size: $title-fontsize - 0.5rem;
      font-size: 2vw;
      text-transform: uppercase;
      margin-top: -50px;
      font-weight: $medium-bold;
      color: $green-color;
      // margin-bottom: 350px;
    }

    a {
      margin-bottom: 20px;
    }

    button {
      // background-color: #c8ba534d;
      // border: 1px solid #fbffa9;
      // color: #fbffa9;

      box-shadow: 0 0 6px 2px #686868;
      background: #a5ff85;
      color: #004b4f;
      border: 1px solid #000000;
      font-weight: $medium-bold;

      &:hover {
        transform: scale(0.95);
        background: #005709bf;
        color: white;
        border: 1px solid $green-color;

      }
    }
  }
}

.block-3 {
  width: 100%;
  // max-height: 1000px;
  // padding: 20px;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  // background-color: $block-bg-color;
  // overflow: hidden;
  // overflow-y: visible;
  // @media screen and (max-width: $md) {
  //   height: 700px;
  // }

  &--bg {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 50%;
    height: 90%;
    background-image: url('@/assets/images/card-bg4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #6a4ef7;
    // background-color: rgb(172, 212, 112);
    box-shadow: 0 0 6px 3px #232323;
    border-radius: 0 6px 0 0;
    z-index: -1;
  }

  &--card {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #cd3eff6b;
    border-radius: 4px;
    background-color: #9932cc26;
    margin: 0 5px;
    // justify-content: center;
    // align-items: flex-end;
    // margin: 5px;
    position: relative;


    // background-color: #25373b;
    // box-shadow: 0 0 6px 2px #202020;
    @media screen and (max-width: $md) {
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .card-image {
      width: 50%;
      max-width: 300px;
      height: 100%;
      max-height: 300px;
      z-index: 10;

      img {
        // width: 100%;
        height: 100%;
      }
    }

    .information {
      width: 50%;
      // height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // padding: 10px 20px;
      // margin: 0 10px;
      background-color: #00000047;
      border-radius: 0 4px 4px 0;
      padding: 10px;
      font-size: 1.25vw;
      z-index: 10;

      @media screen and (max-width: $md) {
        font-size: 1.75vw;
      }

      // margin-top: 30px;
      &--trainerName {
        font-size: 2vw;
        font-weight: $medium-bold;

        @media screen and (max-width: $md) {
          font-size: 3vw;
        }
      }

      &--trainingType {
        font-size: 1.25vw;
        font-weight: $medium-bold;
        color: $green-color;

        @media screen and (max-width: $md) {
          font-size: 1.75vw;
        }

        @media screen and (max-width: $md) {
          font-size: 2.5vw;
        }
      }

      &--trainingTypeList {
        list-style-type: none;
        font-size: 1.1vw;
        color: $green-color;

        @media screen and (max-width: $md) {
          font-size: 1.5vw;
        }

        @media screen and (max-width: $md) {
          font-size: 2vw;
        }
      }
    }
  }
}

.block-4 {
  // background-color: #2A2A2A;
  max-height: 500px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
    padding: 50px;
  }
}

.footer {
  width: 100%;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #08002e;

  .footer-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px;

    .footer-block {
      width: 20%;

      @media screen and (max-width: $lg) {
        width: 40%;
        margin-bottom: 50px;
      }

      @media screen and (max-width: $md) {
        width: 100%;

        &:last-child {
          margin-bottom: 0;
        }
      }

      a {
        color: white;
        text-decoration: none;

        &:hover {
          color: $green-color;
        }
      }

      &--title {
        font-weight: $medium-bold;
        font-size: 24px;
        color: white;
        letter-spacing: 1px;
      }

      &--text {
        font-size: 16px;
      }

      &--navigation {
        display: flex;
        flex-direction: column;

        p {
          padding: 0;
          margin: 0;
          margin-bottom: 5px;
        }
      }
    }
  }
}

.schedule {
  width: 100%;

  @media screen and (max-width: $lg) {
    width: 100%;
    padding: 0 10px;
  }

  .vuecal__title-bar {
    background-color: #56218a;

    button {
      color: white;
    }
  }

  .vuecal__body .split1 {
    background-color: rgba(226, 242, 253, 1);
  }

  .vuecal__body .split2 {
    background-color: rgba(232, 245, 233, 1);
  }

  .vuecal__body .split3 {
    background-color: rgba(255, 243, 224, 1);
  }

  .vuecal__body .split4 {
    background-color: rgba(255, 235, 238, 1);
  }

  .vuecal__no-event {
    display: none;
  }
}

.black {
  background-color: #2b2b2b;
}

.form-auth-wrapper {
  width: 100%;
  margin: 100px 0;
  display: flex;
  justify-content: center;

  .form-auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.form-title {
  font-size: 26px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.form-inputs {
  display: flex;
  flex-direction: column;
}

.input {
  max-width: 450px;
  height: 60px;
  background: #4a4a4a;
  border-radius: 5px;
  margin-bottom: 30px;
  border: none;
  text-decoration: none;
  outline: none;
  color: white;
  padding: 0 20px;
  font-size: 16px;
  letter-spacing: 1px;
}

.auth-input {
  width: 450px;
}

.form-btn {
  max-width: 200px;
  padding: 10px 50px;
  height: 50px;
  font-size: 1rem;
  background: rgba(41, 245, 196, 0.75);
  color: white;
  border: 1px solid $green-color;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  border-radius: 5px;

  @media screen and (max-width: $lg) {
    font-size: 0.9rem;
    width: 175px;
    height: 50px;
  }

  @media screen and (max-width: $md) {
    width: 150px;
    height: 40px;
    font-size: 0.7rem;
  }

  &:hover {
    background: rgba(41, 245, 196, .9);
  }
}

.cabinet-wrapper {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 50px 50px 50px;
}

.block-name {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 26px;
  text-transform: uppercase;
}

.block-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &--left {
    width: 40%;
    height: 300px;
    margin-right: 50px;
    border: 1px solid $green-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;

    @media screen and (max-width: $lg) {
      font-size: 14px;
    }

    @media screen and (max-width: $size-850) {
      width: 100%;
      margin-right: 0;
    }

    p {
      margin: 0;
      padding: 0;
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 100px;
      margin-bottom: 15px;
      display: flex;
      align-items: center;
    }

    a {
      color: white;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: grey;
      }
    }
  }

  &--right {
    width: 50%;
    min-width: 400px;
    border: 1px solid $green-color;
    padding: 30px 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: $size-850) {
      width: 100%;
    }

    .block-right-title {
      font-size: 22px;
      display: flex;
      justify-content: flex-start;
      margin-bottom: 20px;
    }
  }
}

.link-icon {
  margin-right: 15px;
}

.message-block {
  max-height: 600px;
  justify-content: flex-start;
  padding: 30px 20px;
  overflow: auto;
}

.messages {
  display: flex;
  flex-direction: column;

  .message {
    max-height: 50px;
    display: flex;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 5px;
    align-items: center;

    img {
      margin-right: 10px;
    }

    .msg {
      margin: 0;
      padding: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    a {
      text-decoration: none;
      color: white;
      transition: 0.3s;

      &:hover {
        color: $green-color;
      }
    }

    &--name {
      text-transform: capitalize;
    }

    &--line {
      color: $green-color;
    }

    &--text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.textarea-msg {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: #4a4a4a;
  padding: 10px 15px;
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
}

.message-form-buttons {
  display: flex;
  justify-content: space-between;
}

.btn-back {
  text-decoration: none;
  color: grey;
  border: 1px solid rgba(68, 71, 70, 0.75);
  padding: 5px 30px;
  border-radius: 5px;
  transition: 0.3s;

  &:hover {
    color: grey;
    text-decoration: none;
    border: 1px solid grey;
  }
}

.btn-submit {
  border: none;
  text-decoration: none;
  outline: none;
  padding: 5px 30px;
  color: white;
  background-color: rgba(41, 245, 196, 0.75);
  border-radius: 5px;
  transition: 0.3s;

  &:hover {
    background-color: $green-color;
  }
}

.trainings-block {
  max-height: 600px;
  justify-content: flex-start;
  overflow: auto;
  padding: 30px 20px;
}

.training-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.training {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(68, 71, 70, 0.75);
  padding: 20px;

  p {
    margin-bottom: 15px;
  }

  img {
    margin-right: 10px;
  }
}

.cancel-btn {
  border: none;
  text-decoration: none;
  outline: none;
  padding: 5px 30px;
  color: white;
  background-color: rgba(222, 0, 0, 0.75);
  border-radius: 5px;
  transition: 0.3s;

  &:hover {
    background-color: rgba(222, 0, 0, 1);
  }
}

.hidden {
  display: none;
}

.default-btn {
  width: 150px;
  height: 45px;
  border: 1px solid $green-color;
  box-sizing: border-box;
  background: none;
  color: white;
  font-size: $text-fontsize - 0.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;

  &:hover {
    a {
      color: #ffffff;
    }

    color: #ffffff;
    font-weight: $medium-bold;
    background: #046700bf;
  }
}

.error-msg {
  font-size: 12px;
  color: coral;
  font-weight: 600;
  padding: 2px;
  margin: 2px 0;
}

.gender {
  display: flex;
  &__text {
    margin-right: 10px;
    color: #ccc;
    font-size: 14px;
  }
  &__group {
    margin-right: 10px;
    display: flex;
    align-items: center;
    label {
      margin-left: 4px;
      color: #ccc;
      font-size: 14px;
    }
    input[type="radio"] {
      /* Add if not using autoprefixer */
      -webkit-appearance: none;
      /* Remove most all native input styles */
      appearance: none;
      /* For iOS < 15 */
      background-color: #292644;
      /* Not removed via appearance */
      margin: 0;

      font: inherit;
      color: rgba(255, 255, 255, 0);
      width: 1.15em;
      height: 1.15em;
      border: 2px solid rgba(161, 166, 255, 0.35);
      border-radius: 50%;
      transform: translateY(-0.075em);

      display: grid;
      place-content: center;
    }

    input[type="radio"]::before {
      content: "";
      width: 0.65em;
      height: 0.65em;
      border-radius: 50%;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em $green-color;
      /* Windows High Contrast Mode */
      background-color: CanvasText;
    }

    input[type="radio"]:checked::before {
      transform: scale(1);
    }

    input[type="radio"]:focus {
      outline: max(2px, 0.15em) solid currentColor;
      outline-offset: max(2px, 0.15em);
    }
  }
}

.disabled {
  background: gray !important;
  border: 1px solid rgb(167, 167, 167) !important;
  color: rgb(80, 80, 80) !important;
  cursor: not-allowed !important;
}

.profile {
  display: flex;
  justify-content: center;
  // margin-top: 50px;
  padding: 50px;
  background-image: url("@/assets/images/profile-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  width: 100%;
  height: 100%;

  &__wrapper {
    display: flex;
    width: 100%;
    max-width: 1100px;
    height: 100%;
    border-radius: 6px;
    border: 1px solid rgb(36, 50, 71);
    min-height: 600px;
    background-color: rgb(15, 23, 42, 0.97);
  }

  &__routes-block {
    width: 20%;
    padding: 10px;
    min-width: 150px;
  }

  &__links {    
    li {
      list-style-type: none;
    }
    a {
      text-decoration: none;
    }
  }

  &__link {
    display: flex;

    a {
      width: 100%;
      height: 100%;
      transition: all 0.3s;
      border-left: 1px solid rgb(30 41 59);
      padding: 5px 10px;
      cursor: pointer;
      
      &:hover {
        color: $green-color;
        border-left: 1px solid $green-color;
      }
    }
    &--active {
      color: white !important;
      font-weight: $medium-bold;
      border-left: 2px solid $green-color !important;
      background: linear-gradient(270deg, rgba(255,255,255,0) 25%, rgba(172, 255, 46, 0.5) 100%);
    }
  }

  &__content {
    width: 80%;
    border-left: 1px solid rgb(30 41 59);
    padding: 10px;
  }
}

.profile-page {
  &__title {
    $text-color: #3d3d4cfb;
    color: $green-color;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__add-train-form {
    display: flex;
    flex-direction: column;
  }

  &__tabs {
    margin: 10px 0;

    button {
      &:first-child {
        border-radius: 4px 0 0 4px;
      }

      &:last-child {
        border-radius: 0 4px 4px 0;
      }
    }
  }

  &__subscriptions, &__trainer-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    // flex-wrap: wrap;
    // justify-content: space-between;
    width: 100%;
    overflow: auto;
    height: 550px;
    padding: 10px 0;
  
    @media screen and (max-width: $lg) {
      grid-template-columns: 1fr 1fr;
    }
  
    @media screen and (max-width: $md) {
      grid-template-columns: 1fr;
    }
  }

  &__toggle-shedule {
    &--buttons {
      display: flex;
      margin: 10px 0;
      .button {
        margin-left: 10px;
      }
    }
    
    button:first-child {
      border-radius: 4px 0 0 4px;
    }
    button:last-child {
      border-radius: 0 4px 4px 0;
    }
  }

  &__inputs {
    display: flex;
  }
}

.card-popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;

  .card {
    display: flex;
    flex-direction: column;
    background-color: indigo;
    min-width: 400px;
    height: 100%;
    max-height: 300px;
    border-radius: 6px;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
    position: relative;

    svg {
      position: absolute;
      top: 8px;
      right: 0;
      width: 16px;
      height: 16px;
      cursor: pointer;
      margin-right: 10px;

      line {
        transition: all 0.2s;
      }

      &:hover {
        line {
          stroke: indigo;
        }
      }
    }

    &__buttons {
      .card__btn {
        margin-right: 5px;
      }
    }

    &__btn {
      outline: none;
      border: 1px solid rgba(255, 255, 255, 0.15);
      background-color: #333;
      border-radius: 2px;
      color: white;
      padding: 5px 10px;
      font-size: 0.85rem;
      box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
      transition: all 0.25s;

      &:hover {
        transform: translateY(-2px);
      }

      &--signUp {
        background-color: #5e5ed3;
        border: 1px solid rgb(149 188 255 / 68%);

        &:hover {
          background-color: #6c6cee;
        }
      }

      &--edit {
        background-color: #64a682;
        border: 1px solid rgb(146 235 151 / 68%);

        &:hover {
          background-color: #74c096;
        }
      }

      &--delete {
        background-color: #d35e6d;
        border: 1px solid rgba(255, 149, 165, 0.68);

        &:hover {
          background-color: #f06a7c;
        }
      }
    }

    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      padding: 0 50px 0 10px;
      border-radius: 6px 6px 0 0;
      background-color: #932fdc;

      span {
        font-weight: $medium-bold;
        font-size: 1rem;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px;
      height: 100%;

      ul {
        li {
          list-style-type: none;
        }
      }
    }
  }
}

.toggle-btn {
  outline: none;
  border: none;
  background-color: #7c7c7c4a;
  color: #c4c4c4;
  font-weight: 600;
  padding: 10px;
  font-size: 0.75rem;
  box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.25);
  border: 1px solid #ffffff42;

  &--active {
    color: $green-color;
    border: 1px solid $green-color;
    box-shadow: 0 0 4px 1px rgb(126 255 69 / 50%);
    background-color: rgb(122 255 112 / 25%);
  }
}

.profile-inputs {
  width: 100%;
  height: 525px;
  overflow: auto;
  display: flex;
  flex-direction: column;

  &__wrapper {
    width: 100%;
    margin-bottom: 15px;
  }

  &__input {
    width: 100%;
    height: 40px;
    background: #ffffff1a;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    text-decoration: none;
    outline: none;
    color: #ceff84;
    padding: 0 10px;
    font-size: 0.8rem;
    letter-spacing: 1px;

    &[disabled] {
      cursor: not-allowed;
      background: #8282821a;
      border: 1px solid rgba(141, 141, 141, 0.25);

      &:hover {
        border: 1px solid rgba(255, 255, 255, 0.25);
      }
    }

    &:active,
    &:focus,
    &:hover {
      border: 1px solid rgba(205, 255, 161, 0.4);
    }
  }

  &__button {
    max-width: 150px;
    padding: 10px 20px;
    height: 40px;
    font-size: 0.8rem;
    font-weight: $medium-bold;
    background: rgb(160, 230, 135);
    color: #347206;
    border: 1px solid #daffa3;
    box-shadow: 0px 4px 2px 0px #00000033;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 2px;

    @media screen and (max-width: $lg) {
      font-size: 0.9rem;
    }

    @media screen and (max-width: $md) {
      font-size: 0.7rem;
    }

    &:hover {
      transform: translateY(-5px);
      background: #9bfe77;
    }
  }
}

.profile-photo-group {
  display: flex;
  flex-direction: column;

  button {
    margin-top: 10px;
  }
  
}

.profile-photo {
  display: flex;
  justify-content: center;
  position: relative;
  margin-right: 10px;
  min-height: 150px;

  input {
    display: none;
  }

  &__preview {
    position: absolute;
    width: 100%;
    max-height: 100%;
  }

  &__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255 255 255 / 10%);
    border: 3px dashed #ffffff36;
    border-radius: 4px;
    min-height: 100px;
    min-width: 150px;
    max-width: 200px;
    max-height: 150px;
    z-index: 100;
    cursor: pointer;
    transition: all 0.2s;

    svg {
      width: 36px;
      path {
        fill: #989898;
      }
    }

    &:hover {
      box-shadow: 0 0 6px 2px rgb(255 255 255 / 15%);
    }

    span {
      padding: 10px;
      font-size: 0.8rem;
      color: #989898;
      font-weight: $medium-bold;
    }
  }
}

.subscription-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 100%;
  // margin: 5px;
  border-radius: 6px;
  padding: 10px;
  background-color: #6e667f;
  font-weight: $medium-bold;
  justify-content: space-between;
  transition: all 0.3s;

  &:hover {
    transform: translateY(-3px);
  }

  &--basic {
    // background-color: #c2ea85;
    // border: 1px solid #c5ff81;
    // color: #292929;

    background-color: #cbff7c6e;
    border: 1px solid #c5ff81;
    color: #e1ffe7;

    &:hover {
      box-shadow: 0 0 6px 1px #99ff99a0 inset;
    }

    .subscription-card__title {
      color: #c5ff81;
    }

    .discount {
      span {
        color: #c5ff81;
      }
    }

    .price, .days, .subscription-card__date-input {
      color: #c5ff81;
    }

    .subscription-card__days-input {
      color: aliceblue;
      border: 1px solid #bcffb296;
      background-color: #c9ffa765;  
      &::placeholder {
        color: aliceblue;
      }
    }

    button {
      background-color: #8dbb6a;
      color: #343434;

      &:hover {
        background-color: #b0de8c;
        color: #323232;
      }
    }

    svg {
      path {
        stroke: #c5ff81;
      }
    }
  }

  &--extended {
    // background-color: #eae285;
    // border: 1px solid #f7ff81;
    // color: #292929;

    background-color: #eae2858c;
    border: 1px solid #f7ff81;
    color: #fffec0;

    &:hover {
      box-shadow: 0 0 6px 1px #f5ff99a0 inset;
    }

    .subscription-card__title {
      color: #f7ff81;
    }

    .discount {
      span {
        color: #f7ff81;
      }
    }

    .price, .days, .subscription-card__date-input {
      color: #f7ff81;
    }

    .subscription-card__days-input {
      color: aliceblue;
      border: 1px solid #fffbb296;
      background-color: #ffffa765;  
      &::placeholder {
        color: aliceblue;
      }
    }

    button {
      background-color: #bbb86a;
      color: #343434;

      &:hover {
        background-color: #d4d171;
        color: #323232;
      }
    }

    svg {
      path {
        stroke: #f7ff81;
      }
    }
  }

  &--extended-plus {
    background-color: #ad85ea54;
    border: 1px solid #c281ff;
    color: aliceblue;

    &:hover {
      box-shadow: 0 0 6px 1px #c599ffa0 inset;
    }

    .subscription-card__title {
      color: #c281ff;
    }

    .discount {
      span {
        color: #c281ff;
      }
    }

    .price, .days, .subscription-card__date-input {
      color: #c281ff;
    }

    .subscription-card__days-input {
      color: aliceblue;
      border: 1px solid #f7f0ff96;
      background-color: #d5a7ff96;  
      &::placeholder {
        color: aliceblue;
      }
    }

    svg {
      path {
        stroke: #c281ff;
      }
    }

    button {
      background-color: #956abb;
      color: aliceblue;

      &:hover {
        background-color: #ab7fc8;
        color: rgb(241, 246, 250);
      }
    }
  }

  &__sub-date {
    font-size: 0.8rem;
    font-weight: $medium-bold;
  }

  &__date-input {
    width: 100px;
    border: none;
    outline: none;
    background: none;
    font-weight: $medium-bold;

    &[type="date"] {
      background-image: url('@/assets/images/icons/calendar.png');
      background-repeat: no-repeat;
      background-position: 100% 50%;
      background-size: contain;
    }
    &[type="date"]::-webkit-inner-spin-button {
      display: none;
    }
    &[type="date"]::-webkit-calendar-picker-indicator {
      opacity: 0;
    }
  }

  &__days-input {
    width: 100%;
    padding: 5px;
    color: aliceblue;
    border: 1px solid rgba(240, 248, 255, 0.59);
    background-color: #f0f8ff4f;
    font-weight: $medium-bold;
    border-radius: 4px;
    margin: 10px 0;
    outline: none;

    &::placeholder {
      color: aliceblue;
      opacity: 1;
    }
  }

  &__title {
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  &__price-month {
    display: flex;
    align-items: center;

    .price {
      font-size: 2rem;
    }

    svg {
      width: 24px;
      margin: 0 2px;
    }

    span {
      &:last-child {
        margin-left: 2px;
        margin-top: 10px;
        font-size: 0.75rem;
      }
    }
  }

  .discount {
    font-size: 0.85rem;
  }

  &__price-year {
    display: flex;
    align-items: center;

    .price {
      font-size: 1.5rem;
      margin: 0;
    }

    .days {
      font-size: 1rem;
      margin-bottom: 3px;
    }

    &--description {
      font-size: 0.7rem;
    }

    svg {
      width: 24px;
      margin: 0 2px;
    }

    span {
      margin-left: 2px;
      margin-top: 8px;
      font-size: 0.6rem;
    }
  }

  &__list {
    margin: 10px 0;
    font-size: 0.8rem;
    li {
      list-style-type: none;
    }
  }

  &__list-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    svg {
      margin-right: 5px;
    }
  }

  &__button {
    outline: none;
    border: none;
    background-color: #2c2c2c;
    color: white;
    font-weight: $medium-bold;
    font-size: 0.8rem;
    padding: 15px 10px;
    border-radius: 4px;
    box-shadow: 0 0 6px 2px #38383874;
    transition: all 0.3s;

    &:hover {
      transform: translateY(-5px);
    }
  }
}

.trainer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 202px;
  margin: 0 auto;
  border-radius: 4px;
  // padding: 10px 10px 50px 10px;
  transition: all 0.25s;
  position: relative;
  border: 1px solid #663e7c7a;
  background: linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, #b888e640 100%);

  &:hover {
    transform: translateY(-2px);
    .trainer-card__show-btn {
      visibility: visible;
      opacity: 1;
    }
  }

  &__title {
    text-align: center;
    color: #b4e688;
    font-weight: $medium-bold;
    font-size: 1.2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 10px;
    z-index: 10;
  }

  &__image {
    // margin: 10px auto;
    width: 75%;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
    // border-radius: 150px;
    // border: 1px solid #60705e;
    // background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #a8e688 100%);
  }

  &__about-title {
    font-size: 1.1rem;
    font-weight: $medium-bold;
    color: $green-color;
  }

  &__show-btn {
    width: 100%;
    padding: 10px 5px;
    height: 100%;
    color: rgb(234, 255, 221);
    outline: none;
    border: none;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 4px 4px;
    background: linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, #c894f940 100%);
    font-size: 1.5rem;
    font-weight: $medium-bold;
    transition: all 0.2s;
    visibility: hidden;
    opacity: 0;
  }
}


.base-inputs {
  width: 100%;
  height: 550px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__radio-wrapper {
    display: flex;
    align-items: center;
    .base-inputs__wrapper {
      margin-bottom: 0;
    }
  }

  &__password-inputs {
    display: flex;
    width: 100%;
    .base-inputs__wrapper {
      margin-right: 5px !important;
    }
  }

  &__wrapper {
    width: 100%;
    margin-bottom: 15px;
  }

  &__input-wrapper {
    display: flex;
    input, textarea {
      margin-right: 5px;
    }
  }

  &__input {
    width: 100%;
    height: 40px;
    background: #ffffff1a;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    text-decoration: none;
    outline: none;
    color: #ceff84;
    padding: 0 10px;
    font-size: 0.8rem;
    letter-spacing: 1px;

    &--textarea {
      padding: 5px;
      min-height: 100px;
    }

    &--multiselect {
      font-size: 0.8rem !important;
      margin-right: 5px !important;
      height: 100% !important;

      .multiselect__placeholder {
        font-size: 0.8rem !important;
        color: gray;
      }

      .multiselect__tags {
        padding: 8px 40px 0 0;
      }

      div {
        background: none !important;
        border-radius: 2px !important;
        border: none !important;
        color: #ceff84 !important;
      }

      input {
        color: #ceff84 !important;
        background: none !important;
      }
      
      .multiselect--above, .multiselect__content-wrapper {
        background-color: #373f52 !important;
      }

    }

    &[disabled] {
      cursor: not-allowed;
      background: #8282821a;
      border: 1px solid rgba(141, 141, 141, 0.25);

      &:hover {
        border: 1px solid rgba(255, 255, 255, 0.25);
      }
    }

    &:active,
    &:focus,
    &:hover {
      border: 1px solid rgba(205, 255, 161, 0.4);
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 150px;
    padding: 10px 20px;
    height: 40px;
    font-size: 0.8rem;
    font-weight: $medium-bold;
    outline: none;
    color: #347206;

    background-color: rgba(181, 219, 127, 0.35);
    border: 1px solid rgba(190, 255, 130, 0.25);

    // box-shadow: 0px 4px 2px 0px #00000033;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 2px;

    &[disabled] {
      background-color: rgba(128, 128, 128, 0.4) !important;
      border: 1px solid rgba(255, 255, 255, 0.25) !important;
    }

    img {
      width: 24px;
      height: 24px;
    }

    @media screen and (max-width: $lg) {
      font-size: 0.9rem;
    }

    @media screen and (max-width: $md) {
      font-size: 0.7rem;
    }

    // &:hover {
    //   // background: #ceffbc5b;
    // }
  }
}

.profile-page-info {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

  &__image-wrapper {
    margin-right: 25px;
  }

  &__image {
    width: 150px;
    height: 150px;
    border: 1px solid #ffffff42;
    border-radius: 4px;
  }

  .profile-content {
    width: 100%;
    border: 1px solid #ffffff42;
    border-radius: 4px;
    padding: 5px 10px;
    &__group {
      display: flex;
      flex-direction: column;
      margin: 5px 0;
      background-color: rgba(204, 204, 204, 0.164);
      padding: 5px;
      border-radius: 4px;

      .group-title {
        color: $green-color;
        font-weight: $medium-bold;
        font-size: 0.7rem;
      }

      ul {
        list-style-type: none;
      }
    }
  }
}

.profile-page-info__image-wrapper {
  display: flex;
}

.profile-subscription {
  &--basic {
    background-color: rgb(129 210 144 / 36%) !important;
    border: 1px solid rgb(176 253 184 / 59%) !important;
    color: #deffdf !important;
    font-weight: 500;
    text-transform: uppercase;

    .group-title {
      color: #bbffcf !important;
    }
  }
  &--extended {
    background-color: rgb(147 143 122 / 51%) !important;
    border: 1px solid rgb(244 231 148 / 59%) !important;
    color: #fff8bf !important;
    font-weight: 500;
    text-transform: uppercase;

    .group-title {
      color: #fff778 !important;
    }
  }
  &--extended-plus {
    background-color: rgb(95 82 121 / 51%) !important;
    border: 1px solid rgb(198 148 244 / 59%) !important;
    color: #f1dbff !important;
    font-weight: 500;
    text-transform: uppercase;

    .group-title {
      color: #e5b2ff !important;
    }
  }
}

.user-profile-card {
  position: relative;
  display: flex;
  // border: 1px solid #3e3e3e;
  // background-color: #2b2b2b;
  // background-color: rgb(43 39 70);
  border: 1px solid rgb(193 157 255 / 26%);
  background-color: rgb(39 37 51);
  border-radius: 4px;
  padding: 20px;
  font-size: 0.9rem;

  .close-svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    margin: 8px;
    cursor: pointer;
    * {
      stroke: rgb(190, 190, 190);
    }
  }


  &--wrapper {
    width: 100%;
    height: 100%;
    background-color: rgb(21 21 21 / 75%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--text-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 0;
    min-width: 200px;
    // background-color: #262626;
    // border: 1px solid #3b3b3b;
    // border-radius: 4px;
    &:first-child {
      margin-top: 0;
    }
  }

  &--span-block {
    color: $green-color;
    font-weight: bold;
  }

  &--bio-block {
    overflow: auto;
    max-height: 200px;
  }

  &__info {
    margin-right: 10px;
  }

  &__bio, &__workouts, &__content {
    margin: 10px 0;
  }

  &__image {
    width: 200px;
    height: 200px;
    background-color: #0000002e;
    border: 1px solid rgb(39 39 39);
    border-radius: 6px;
    margin-top: 10px;
    padding: 10px 10px 0 10px;
  }

  &__about-user {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__content {
    max-width: 400px;
    background-color: #0000002e;
    border: 1px solid rgb(39 39 39);
    border-radius: 6px;
    padding: 10px;
  }
}

.button {
  outline: none;
  border: none;
  background-color: rgb(108 255 171 / 18%);
  color: #98ffbe;
  font-weight: 600;
  padding: 10px;
  font-size: 0.75rem;
  box-shadow: 0 0 4px 1px rgb(94 255 175 / 42%);
  border-radius: 4px;
  border: 1px solid rgb(73 255 126 / 48%);
  transition: 0.2s;

  &:hover {
    background-color: rgb(108 255 171 / 25%); 
    border: 1px solid rgb(73 255 126 / 68%);
  }

  &--active {
    border: 1px solid rgb(73 164 255 / 48%);
    box-shadow: 0 0 4px 1px rgb(94 205 255 / 42%);
    background-color: rgb(108 210 255 / 18%);
    color: #98caff;

    &:hover {
      background-color: rgba(144, 177, 255, 0.25); 
      border: 1px solid rgba(73, 179, 255, 0.68);
    }
  }
}


.date-input {
  width: 150px;
  height: 20px;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font-weight: $medium-bold;

  &[type="date"], &[type="datetime-local"] {
    background-image: url('@/assets/images/icons/calendar.png');
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: contain;
  }
  &[type="date"]::-webkit-inner-spin-button, &[type="datetime-local"]::-webkit-inner-spin-button {
    display: none;
  }
  &[type="date"]::-webkit-calendar-picker-indicator, &[type="datetime-local"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}

.shedule-select {
  label {
    font-size: 0.8rem;
    color: $green-color;
    font-weight: 500;
  }
}

.shedule-label {
  font-size: 0.8rem;
  color: $green-color;
  font-weight: 500;
}

.shedule-p {
  color: #ceff84;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  &::-ms-expand {
    display: none;
  }

  outline: none;
}

.custom-select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;

  select,
  &::after {
    grid-area: select;
  }

  select {
    color: $green-color;
    height: 100%;
    padding: 10px;
    width: 100%;
    background: rgb(18 24 41);
  }

  // min-width: 15ch;
  // max-width: 30ch;


  border-radius: 2px;
  border: 1px solid rgba(161, 166, 255, 0.25);

  font-size: 1rem;
  cursor: pointer;
  line-height: 1.1;

  // background-color: #fff;
  // background-image: linear-gradient(to top, #f9f9f9, #fff 33%);

  &:not(.custom-select--multiple)::after {
    content: "";
    justify-self: end;
    width: 0.8em;
    height: 0.5em;
    // background-color: rgb(104, 104, 104);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid blue;
  border-radius: inherit;
}

select[multiple] {
  padding-right: 0;
  height: 6rem;

  option {
    white-space: normal;

    // Only affects Chrome
    outline-color: blue;
  }
}

.custom-select--disabled {
  cursor: not-allowed;
  background-color: #eee;
  background-image: linear-gradient(to top, #ddd, #eee 33%);
}

.custom-select + label {
  margin-top: 2rem;
}